* { 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; 
}

.add-comment-form {
	background:  #dedede;
	padding: 20px;
	width: 300px;

	position:  absolute;
	z-index:  200;
}

.add-comment-form input, 
.add-comment-form textarea {
	margin: 0 0 20px 0;
	width: 260px;
}

.add-comment-form textarea {
	height: 80px;
}

.comments-wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	min-height:  100%;
	z-index:  100;
}

.comment {
	float: left;
	background: #efefef;
	padding: 20px;
	margin: 20px;
	width: 300px;

	/* position:  absolute; */
}

.comment-footer {
	font-size: .75rem;
}

.comment-delete {
	font-size: .75rem;
}
