* { 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; 
}

.add-comment-form {
	padding: 20px;
	margin: 20px;
	width: 300px;
}

.add-comment-form input, 
.add-comment-form textarea {
	margin: 0 0 20px 0;
	width: 260px;
}

.add-comment-form textarea {
	height: 80px;
}

.comments-wrapper {
	position: relative;
}

.comment {
	float: left;
	background: #efefef;
	padding: 20px;
	margin: 20px;
	width: 300px;

	/* position:  absolute; */
}

.comment-footer {
	font-size: .75rem;
}

.comment-delete {
	font-size: .75rem;
}
